.quiz {
    margin: 0 auto;
    width: 600px;
}

.quiz-questions {
    margin-bottom: 20px;}

.quiz-questions-item,
.quiz-indicator {
    margin-bottom: 20px;
}

.quiz-questions-item__question,
.quiz-results-item__question{
    margin-bottom: 20px;
    font-size: 20px;

}

.quiz-questions-item__answer,
.quiz-results-item__answer{
    margin: 0;
    padding: 0;
    list-style: none;
}

.btn-next {}

.btn-restart {
    display: none;
}

.quiz-results {display: none}

.quiz-results-item {
    margin-bottom: 20px;
}

.questions--hidden,
.indicator--hidden,
.btn-next--hidden {
    display: none;
}

.indicator--visible,
.btn-restart--visible{
    display: block;
}

.answer-invalid {
    color: red;
}

.answer-valid {
    color: green;
}
